// // Specific CSS for your home-page
// body, html {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;

// }

.expandable-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 500px;
  border-radius: 5px 0 0 5px;
  background-color: rgba(222, 222, 212, 0.5);
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Ensure contents are hidden */
  .container-expandable {
    padding: 0 10px 0 10px;
  }

  &:hover {
    width: 200px;
  }
}
.expandable-div .content {
  opacity: 0; /* Hide content initially */
  transition: opacity 0.3s ease-in-out;
  padding: 10px; /* Adjust padding as needed */
  text-align: center;
}
.expandable-div:hover .content {
  opacity: 1; /* Show content on hover */
}



.first-container-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  background-image: url('https://images.unsplash.com/photo-1595348514401-eca68a3bea33?q=80&w=2372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: 60px -90px;
  background-repeat: no-repeat;
}

.second-section-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $orange;
}

.full-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent; /* Color for the full screen */
  z-index: 5;
}

.left, .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.left {
  left: 0;
  background-color: $black; /* Color for the left side */
  padding: 10px 0px 0px 10px;
}

.right {
  right: 0;
  background-color: $black; /* Color for the right side */
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: transparent;
}

.divider path {
  fill: none;
  stroke: $orange;
  stroke-width: 0.2;
}
.first-section {
  width: 100vw;
  height: 100vh;
}
