<div class="container">
  <div class="left"></div>
  <div class="right"></div>
  <svg class="divider" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M50,0 C25,50 75,50 50,100" />
  </svg>
</div>
