<div class="section-regulation container"  id="regulation">
  <div class="content-regulation">
    <h1>Regulation</h1>
    <div style="width:1000px; margin:auto">
      <h5>Article 1 : Objectif</h5>
      <p>Le concours International de danse Entrelacé ouvert aux disciplines de danse classique, modern’jazz, et contemporaine
        il a pour but de promouvoir, partager et célébrer l’art de la danse ainsi que générer une rencontre et "entrelacer" étudiants, danseurs, professeurs et professionnels de la danse en France et à l'étranger.<br>
        Ainsi qu’offrir aux danseurs de diverses disciplines, un espace pour s’exprimer à travers leur
        art et leur passion en acquérant des bases, des connaissances et une expérience scénique
        pour leur développement comme danseurs.
      </p>
    </div>
    <div style="width:1000px; margin:auto">
      <h5>Article 2 : Candidats</h5>
      <p>Le concours est ouvert à tous les danseurs(es) âgés de 8 à 25 ans en solos et groupes, quelle
        que soit leur structure : (Conservatoire, Ecole municipale de danse, Ecole privée, Association,
        en formation professionnelle...) dans les disciplines de danse Classique, Contemporaine et
        Modern’Jazz. Et quel que soit leur nationalité.
      </p>
      <p>Un candidat(e) peut présenter au maximum quatre passages (solo, duo et groupe).</p>
      <p>Pour les catégories préprofessionnelles sont dédiés au candidat(es) avec une scolarité en
        horaire aménagés type « Danse-Etudes », une activité artistique poussée au-delà de 3 cours
        par semaine.
      </p>
      <p>Les candidats(es) formation professionnelle ou formation EAT sont tenus de s’inscrire sous
        cette dénomination.
      </p>
      <p>Les candidats(es) aillant obtenu une médaille d’or en section loisir l’année précèdent et qui
        souhaitent participer à l’édition 2024 du Concours Entrelacé doivent s’inscrire en Section Pré-
        professionnelle.
      </p>
      <p>Les groupes seront composés de 3 danseur(ueses) minimum à 15 maximum danseur(ueses).</p>
      <p><b>Les variations imposées par le ministère de la culture et des variations imposés
        d’autres concours ne sont pas autorisés.</b>
      </p>
    </div>
    <div style="width:1000px; margin:auto">
      <h5>Article 3 : Remises de prix et récompenses.</h5>
      <p>La décision du jury <b>est souveraine</b>. Les moyennes sont calculées par ordinateur à la table du
        jury. Le jury délibérera à huis clos.
      </p>
      <p>La notation prendra en compte le niveau technique, l’artistique, la musicalité, l’originalité et la
        pertinence de l’idée chorégraphique en corrélation avec l'âge du ou des danseurs.
      </p>
      <p>Le jury pourra reclasser dans une catégorie « Pré-professionnelle » les candidats qu’il
        estimera relever de ce niveau de pratique.
      </p>
      <h6>Awards Table</h6>
      <table class="table-regulation">
        <thead>
          <tr>
            <th>Award</th>
            <th>Score Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Diplôme de participation</td>
            <td>Inférieure à 10</td>
          </tr>
          <tr>
            <td>Encouragements</td>
            <td>10 à 10.99</td>
          </tr>
          <tr>
            <td>3ème Mention</td>
            <td>11 à 11.99</td>
          </tr>
          <tr>
            <td>2ème Mention</td>
            <td>12 à 12.99</td>
          </tr>
          <tr>
            <td>1ère Mention</td>
            <td>13 à 13.99</td>
          </tr>
          <tr>
            <td>Médaille de bronze</td>
            <td>14 à 14.99</td>
          </tr>
          <tr>
            <td>Médaille d’argent</td>
            <td>15 à 15.99</td>
          </tr>
          <tr>
            <td>Médaille d’or</td>
            <td>16 à 16.99</td>
          </tr>
          <tr>
            <td>Médaille d’or à l’unanimité</td>
            <td>17 à 17.99</td>
          </tr>
          <tr>
            <td>Médaille d’or avec les félicitations du jury</td>
            <td>18 à 20</td>
          </tr>
        </tbody>
      </table>
      <p><b>Des nombreuses bourses d’études en France et à l’étranger, bons d’achat et photos
        récompenseront les meilleurs candidats.</b></p>
      <p><b>Le Grand PRIX 2024</b> sera attribué par le jury à un candidat solo toutes catégories et
        disciplines confondues, qui aura marqué l’ensemble du concours.
        Ce prix sera accompagné d’un montant en espèces de 200 €.</p>
      <p>La notation prendra en compte le niveau technique, l’artistique, la musicalité, l’originalité et la
        pertinence de l’idée chorégraphique en corrélation avec l'âge du ou des danseurs.</p>
    </div>
    <div style="width:1000px; margin:auto">
      <h5>Article 4 : Photos et vidéos</h5>
      <p>Les prises de vue, vidéos et photos sont strictement interdites afin de ne gêner ni les candidats
        ni le jury. Les prises de vues seront assurées par des professionnels.
      </p>
      <p>En acceptant ce règlement à l 'inscription vous reconnaissez laisser à l'organisateur
        <b>"Concours Entrelacé"</b> la possibilité de diffuser l'image de votre enfant mineur ou celle de la
        personne majeure qui participent à ce concours.
      </p>
    </div>
    <div style="width:1000px; margin:auto">
      <h5>Article 5 : Conditions de participation</h5>
      <p>L’âge pris en compte est celui au jour du Concours.</p>
      <p>Les candidats doivent se situer dans la catégorie correspondant à leur âge en individuel en
        groupe. Toutes les catégories et disciplines sont ouvertes au candidats féminins et masculins.</p>
      <p>Pour les groupes <b>une tolérance de 2 candidats en dehors de la tranche d'âge est
          acceptée</b>. La moyenne d'âge du groupe doit cependant se situer dans l'âge de la catégorie.</p>
      <p>Il est recommandé que la création chorégraphique soit unique et adaptée à chaque candidat,
        dans le cas contraire chaque proposition peut etre présentée maximum par 3 élèves
        différents.</p>
      <p>Ordre de passage des candidats : du plus jeune au plus âgé de sa catégorie.</p>
    </div>
    <div style="width:1000px; margin:auto">
      <table class="table-regulation-ordre">
        <thead>
          <tr>
            <th colspan="2">SOLOS CLASSIQUE</th>
          </tr>
          <tr>
            <th>« LOISIR »</th>
            <th>« PRE- PROFESSIONNELLE »</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Préparatoire :</strong> de 8 à 9 ans<br>
              Une variation libre de 1 min 30 max sur ½ pointes
            </td>
            <td>
              <strong>Préparatoire :</strong> de 8 à 9 ans<br>
              Une variation libre de 1 min 30 max sur ½ pointes
            </td>
          </tr>
          <tr>
            <td>
              <strong>Élémentaire 1 :</strong> de 10 à 11 ans<br>
              Une variation libre de 1 min 45 max sur ½ pointes
            </td>
            <td>
              <strong>Élémentaire 1 :</strong> de 10 à 11 ans<br>
              Une variation libre de 1 min 45 max sur ½ pointes
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              <strong>Élémentaire 2 :</strong> de 12 à 13 ans<br>
              Une variation libre de 1 min 45 max sur ½ pointes
            </td>
            <td>
              <strong>Élémentaire 2 :</strong> de 12 à 13 ans<br>
              Une variation libre de 1 min 45 max sur pointes.
            </td>
          </tr>
          <tr>
            <%# <td></td> %>
            <td>
              <strong>Élémentaire 2 B :</strong> de 12 à 13 ans<br>
              Une variation de répertoire sur pointes.
            </td>
          </tr>
          <tr>
            <td rowspan="2">
              <strong>Moyen 1 :</strong> de 14 à 15 ans<br>
              Une variation libre de 1 min 45 max sur ½ pointes
            </td>
            <td>
              <strong>Moyen 1 :</strong> de 14 à 15 ans<br>
              Une variation libre de 2 min max sur pointes
            </td>
          </tr>
          <tr>
            <%# <td></td> %>
            <td>
              <strong>Moyen 1 B :</strong> de 14 à 15 ans<br>
              Une variation de répertoire sur pointes.
            </td>
          </tr>
          <tr>
            <td>
              <strong>Moyen 2 :</strong> à partir de 16 ans<br>
              Une variation libre de 1 min 45 max sur ½ pointes
            </td>
            <td>
              <strong>Avancée :</strong> à partir de 16 ans<br>
              Une variation libre de 2 min max sur pointes.
            </td>
          </tr>
          <tr>
            <td>
              <strong>Avancée :</strong> de 16 à 17 ans<br>
              Une variation libre de 1 min 45 max sur pointes
            </td>
            <td>
              <strong>Supérieur :</strong> 18 ans et plus<br>
              Une variation libre 2 min max sur pointes
            </td>
          </tr>
          <tr>
            <td>
              <strong>Supérieur :</strong> 18 ans et plus<br>
              Une variation libre 2 min max sur pointes
            </td>
            <td>
              <strong>Formation :</strong> Préparation EAT, cycle de professionnalisation à partir de 17 ans<br>
              Une variation du répertoire sur pointes
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-5" style="width:1000px; margin:auto">
      <table class="table-regulation-ordre">
        <thead>
          <tr>
            <th colspan="2">SOLOS CONTEMPORAIN - MODERN’JAZZ</th>
          </tr>
          <tr>
            <th>« LOISIR »</th>
            <th>« PRE- PROFESSIONNELLE »</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Préparatoire :</strong> de 8 à 9 ans<br>
              Une variation libre de 1 min 30 max
            </td>
            <td>
              <strong>Préparatoire :</strong> de 8 à 9 ans<br>
              Une variation libre de 1 min 30 max
            </td>
          </tr>
          <tr>
            <td>
              <strong>Élémentaire 1 :</strong> de 10 à 11 ans<br>
              Une variation libre de 1 min 45 max
            </td>
            <td>
              <strong>Élémentaire 1 :</strong> de 10 à 11 ans<br>
              Une variation libre de 1 min 45 max
            </td>
          </tr>
          <tr>
            <td>
              <strong>Élémentaire 2 :</strong> de 12 à 13 ans<br>
              Une variation libre de 1 min 45 max
            </td>
            <td>
              <strong>Élémentaire 2 :</strong> de 12 à 13 ans<br>
              Une variation libre de 1 min 45 max
            </td>
          </tr>
          <tr>
            <td>
              <strong>Moyen :</strong> de 14 à 15 ans<br>
              Une variation libre de 1 min 45 max
            </td>
            <td>
              <strong>Moyen :</strong> de 14 à 15 ans<br>
              Une variation libre de 1 min 45 max
            </td>
          </tr>
          <tr>
            <td>
              <strong>Avancée :</strong> de 16 à 17 ans<br>
              Une variation libre de 2 min max
            </td>
            <td>
              <strong>Supérieur :</strong> à partir de 16 ans<br>
              Une variation libre de 2 min max
            </td>
          </tr>
          <tr>
            <td>
              <strong>Supérieur :</strong> à partir de 18 ans<br>
              Une variation libre de 2 min max
            </td>
            <td>
              <strong>Formation :</strong> Préparation EAT, cycle de professionnalisation à partir de 17 ans<br>
              Une variation libre de 2 min 30 max
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-5" style="width:1000px; margin:auto">
      <table class="table-regulation-ordre">
        <thead>
          <tr>
            <th>DUOS ET GROUPES CLASSIQUE, CONTEMPORAIN, MODERN’JAZZ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Préparatoire :</strong> de 8 à 11 ans<br>Chorégraphie libre de 2 min 30 max</td>
          </tr>
          <tr>
            <td><strong>Élémentaire :</strong> de 11 à 14 ans<br>Chorégraphie libre de 3 min max</td>
          </tr>
          <tr>
            <td><strong>Moyen :</strong> de 14 à 17 ans<br>Chorégraphie libre de 3 min 30 max</td>
          </tr>
          <tr>
            <td><strong>Supérieur :</strong> 16 et plus<br>Chorégraphie libre de 3 min 30 max</td>
          </tr>
          <tr>
            <td><strong>Formation :</strong> Préparation EAT, cycle de professionnalisation à partir de 17 ans<br>Chorégraphie libre de 4 min 30 max</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
