.button {
  text-decoration: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: $black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;

  z-index: 10;

  &:hover {
    background-color: $orange;
    color: $light-gray;
  }
}

.button-home {
  width: 280px;
  margin: auto;
  text-decoration: none;
  display:  inline-block;
  background-color: white;
  color: $black;
  border: 1.5px solid $black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  z-index: 10;
  margin-top:50px;

  &:hover {
    background-color: $orange;
    color: $light-gray;
  }
}
