.navbar-lewagon {
  justify-content: space-between;
  color: $orange;
  a {
    color: $orange;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
